// ESTILO GERAL
h1,
h2,
h3,
p {
  color: #fff;
}

.botaoLink {
  width: 250px;
  height: 70px;
  background-color: #0a0e23;
  margin-top: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s;
}

.botaoLink span {
  color: #fff;
  font-size: 1.7rem;
  position: relative;
  z-index: 1;
}

.botaoLink::before {
  content: "";
  position: absolute;
  top: var(--eixoY, 50%);
  left: var(--eixoX, 50%);
  width: 0;
  height: 0;
  background-color: #fe6600;

  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  z-index: 0;
}

.botaoLink:hover::before {
  width: 600px;
  height: 400px;
}
// ---------------------------------------

// ESTILO DA HOME EM GERAL
.Home {
  height: 100%;
  width: 100%;
  margin: 9.6rem auto;
}

.BoxVideo {
  z-index: -1;
  width: 100%;
  height: 100%;
}
// TAMANHO DO VIDEO OCUPANDO A TELA INTEIRA
.BoxVideo video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
// EFEITO ESFUMAÇADO
.BoxVideo .mascara {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
}

// ESTILO HERO
.caixaPincipal {
  height: 750px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
}

.caixaPincipal div {
  max-width: 60rem;
}

.caixaPincipal div h3 {
  width: 60vw;
  text-transform: uppercase;
  font-size: 5rem;
}
.caixaPincipal div p {
  font-size: 1.5rem;
  font-weight: 200;
  width: 45vw;
  line-height: 1.5;
}

// ESTILO ATLETAS

// TITULO DOS CARDS
.boxInfo {
  height: 100%;

  width: 100%;

  align-items: center;
  justify-content: center;
}
.titulo {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  width: 100%;
  height: 200px;
}
.titulo span {
  color: #fe6600;
}

// CAIXA DOS CARDS

.boxInfo {
  height: 100%;
  width: 100%;
}

.boxInfo ul li {
  width: 100%;
  height: 1150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

// ESTILO DO CARD

.boxInfo .container {
  position: relative;

  width: 320px;
  height: 500px;
  border-radius: 10px;
}
.boxInfo ul li img {
  height: 550px;
  width: 100%;
  border-radius: 8px;
}
.container .flip,
.PlayerFlip {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 0.7s;
}
.frente,
.tras,
.PlayerFlip {
  position: absolute;
  min-width: 100%;
  height: 100%;
  border-radius: 10px;

  box-shadow: 0px, 0px, 10px rgba(0, 0, 0, 0.621);
  backface-visibility: hidden;
}

.container .flip .PlayerFlip {
  border: solid 2px #fff;
}

// ESTILO NO VERSO DO CARD
.tras {
  width: 100%;
  height: 550px;
  background-color: #fe6600;
  transform: rotateY(180deg);
  border: solid 2px #fff;
}

// ESTILO DA CAIXA DA LOGO
.container .tras .boxLogo {
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-bottom: solid 2px #ffffff42;
}

// ESTILO DA LOGO
.tras .Logo {
  height: 80px;
  width: 80px;
}

// ESTILO DOS NOMES
.tras .boxNome {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;
}

// ESTILO DAS CARACTERISTICAS
.geralAtleta {
  height: 310px;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  text-align: start;
}
.geralAtleta li strong {
  width: 90px;
  font-size: 17px;
}

.geralAtleta p {
  font-size: 15px;
  font-weight: 500;
  width: 198px;
  text-align: center;
  font-size: 14px;
}

// ESTILO DA LOGO DA NBA

.BoxNbaCard {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BoxNbaCard .nbaCard {
  height: 30px;
  width: 60px;
}

// TRANSIÇÃO DO CARD
.container:hover .flip {
  transform: rotateY(180deg);
}

// ESTILO DA DESCRIÇÃO DOS ATLETAS
.boxInfo .boxDescri {
  width: 100%;
  height: 100%;

  text-align: center;
  display: flex;
  justify-content: center;

  margin-top: 100px;

  background-color: #00000060;
}
.boxInfo .boxDescri p {
  width: 65vw;
  font-size: 1.1rem;
}

// ESTILO DO BOTÃO DE ATLETAS
.boxBtn {
  height: 15vh;
  width: 92%;
  display: flex;
  justify-content: flex-end;
}
