header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #7e5dc1;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
}
section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 1.5rem 0;
  position: relative;
}

section .logo {
  height: 95px;
}

nav {
  width: 550px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 50px;
}

nav a {
  color: #fff;
  transition: 0.2s;
}

nav a:hover {
  color: orange;
  border-bottom: 0.1rem solid orange;
  padding-bottom: 0.5rem;
}
