header {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: transparent;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  transition: 0.6s;
  z-index: 100;
}
// ANIMAÇÃO DA HEADER

header.rolar {
  background-color: #0a0e23;
  height: 95px;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 1.5rem 0;
  position: relative;
}
// #0f3d3e; verde musco modo claro
section .logo {
  height: 95px;
}

header section {
  height: 100%;
  width: 100%;
}

.navHeader {
  width: 50%;
  height: 100%;
  display: flex;
}

// LINKS
.navHeader a {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: start;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transition: 0.2s;
  position: relative;
  text-decoration: none;
}

// animação dos links
.navHeader a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fe6600;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

nav a:hover::after {
  width: 70%;
}
