.TamanhoSobre {
  background-color: #020202;
  height: 2000px;
  padding-top: 87px;
}

.containerCarrossel {
  margin: 0 auto;
  width: 100%;
  height: 990px;
  overflow: hidden;
  position: relative;
}
.CarrosselCont {
  display: flex;
  width: 400%; //
  height: 100%;
  transition: transform 1s ease-in-out;
}

.CarrosselBox {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}

.CarrosselBox img {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.navManual {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 10;
}

.manualBtn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fe6600;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.manualBtn.active {
  background-color: #fe6600;
}
// FIM DO CARROSSEL

// TITULO DA PAG
main .BoxTitulo {
  background-color: #2c2f36;
  height: 300px;
}

main .BoxTitulo .Titulo {
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.BoxTitulo .Titulo h2 {
  font-weight: 700;
  font-size: 3rem;
}

.BoxTitulo .Titulo span {
  color: #fe6600;
}

.BoxTitulo .Titulo p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.2rem;
}

// INICIO DAS INFO
main .ContainerInfo {
  height: 200vh;
  background-color: #2c2f36;
}

.ContainerInfo .CaixaInfo {
  height: 100%;
  width: 100%;
}

.ContainerInfo .CaixaInfo .teste {
  border: solid 2px yellow;
  height: 220px;
  width: 80%;
  display: flex;
  align-items: center;
}

.ContainerInfo .CaixaInfo img {
  height: 220px;
}

.ContainerInfo .CaixaInfo .teste p {
  border: solid 2px pink;
  width: 100%;
}
