.TamanhoSobre {
  background-color: #020202;
  height: 2000px;
  padding-top: 87px;
}

.containerCarrossel {
  margin: 0 auto;
  width: 100%;
  height: 990px;
  overflow: hidden;
  position: relative;
}
.CarrosselCont {
  display: flex;
  width: 400%; //
  height: 100%;
  transition: transform 1s ease-in-out;
}

.CarrosselBox {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}

.CarrosselBox img {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.navManual {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 10;
}

.manualBtn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fe6600;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.manualBtn.active {
  background-color: #fe6600;
}
// FIM DO CARROSSEL

// TITULO DA PAG
main .BoxTitulo {
  background-color: #2c2f36;
  height: 300px;
}

main .BoxTitulo .Titulo {
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.BoxTitulo .Titulo h2 {
  font-weight: 700;
  font-size: 3rem;
}

.BoxTitulo .Titulo span {
  color: #fe6600;
}

.BoxTitulo .Titulo p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.2rem;
}

// INICIO DAS INFO
main .ContainerHistoria {
  background-color: #2c2f36;
  height: 400px;

  padding-left: 20px;
}

.ContainerHistoria .boxInfo img {
  height: 300px;
  border-radius: 10px;
}

.ContainerHistoria .boxInfo .boxText {
  height: 200px;
  width: 80%;
  display: flex;
  align-items: center;
}
.boxText .CaixaText h3 {
  font-size: 1.5rem;
  background-color: #fe6600;
  padding-left: 10px;
}

.boxText .CaixaText p {
  width: 100%;
  margin-top: 20px;
  padding-left: 10px;
}

.boxInfo .boxText .CaixaText {
  margin-left: 30px;
  height: 200px;
  border: solid 2px #fe6600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

// ordem invertida

.ContainerEstrangeiro {
  background-color: #2c2f36;
  height: 400px;
}

.ContainerEstrangeiro .boxEstrangeiro {
  display: flex;
  height: 300px;
  width: 80%;
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.ContainerEstrangeiro .boxEstrangeiro .EstrangeiroText {
  height: 200px;
  margin-right: 30px;
  text-align: end;
  border: solid 2px #fe6600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.boxEstrangeiro .EstrangeiroText h3 {
  font-size: 1.5rem;
  background-color: #fe6600;
  width: 100%;

  padding-right: 20px;
}
.boxEstrangeiro .EstrangeiroText p {
  height: 80%;
  width: 100%;
  margin-top: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ContainerEstrangeiro .boxEstrangeiro img {
  height: 300px;
  border-radius: 10px;
}
