.mainTimes {
  background-color: #2c2f36;
  height: 100%;
  width: 100%;
}

.BoxHeroTimes {
  width: 100%;
  height: 940px;
}

.BoxHeroTimes .HeroTimes {
  width: 100%;
  height: 940px;

  background-image: url("../../assets/img/BGiverson.avif");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  display: flex;
  position: relative;
}

.BoxHeroTimes .HeroTimes .OverlayTimes {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  padding: 2rem;
  color: #fff;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
}

// inicio da conferencia leste

// titulo Leste
.Conferencia {
  padding-bottom: 100px;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Conferencia h2 {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 3.2rem;
  padding-bottom: 150px;
}
.Conferencia h2 span {
  color: #fe6600;
}

// Times Leste
.Conferencia .Local {
  width: 320px;
  height: 800px;

  background-color: #0a0e23;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.Conferencia .TituloRegiao {
  font-size: 1.7rem;
}

.Conferencia .times {
  width: 280px;
  height: 90px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0a0e23;
  border: solid 2px #2c2f36;
  border-radius: 8px;
}

.Conferencia .times .NomeDosTimes {
  width: 100%;
  padding-left: 8px;
}

.Conferencia .times h4 {
  width: 100%;
  font-size: 1rem;
}
.Conferencia .times p {
  width: 100%;
  font-size: 0.8rem;
}

.Conferencia .Local .times img {
  height: 45px;
  width: 60px;
}
// FIM DAS CONFERENCIAS

// INICIO DOS ATLETAS

.TextAtletasNBA h2 {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 3.2rem;
  padding-bottom: 150px;
}

.TextAtletasNBA h2 span {
  color: #fe6600;
}
